<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
	<!-- Compiled and minified CSS -->

<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
	<style>
		body	{
			background-color : #111;
		}
		.officer {
		  align-content: center;
		  align-items: center;
		  margin-left: auto;
		  margin-right: auto;
			width:150x;height:75px;
		}
		.btn-large	{
			font-size : 30px !important;
		}
	</style>

	<div class = "container">
    <div class="imgcontainer">
      <h1 class="cyan-text center">{{name}} accepted your Request</h1>
    </div>
	<div id="map" style="width: 544px;height:300px;background:yellow;align-content: center;
		  align-items: center;
		  margin-left: auto;
		  margin-right: auto;" ></div>
   <script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng({{lat}},{{lng}}),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.HYBRID
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);

var coo = {lat : 12.9021086, lng : 77.5332326}
var to_go = {lat : {{lat}}, lng:{{lng}}}

 var marker_1 = new google.maps.Marker({
    position: coo,
    map: map,
    title: 'You are here'
  });
  var marker_2 = new google.maps.Marker({
     position: to_go,
     map: map,
     title: 'You need to go here'
   });
var infowindow_1 = new google.maps.InfoWindow({
          content: "You are Here"
        });
var infowindow_2 = new google.maps.InfoWindow({
                  content: "You need to go Here"
                });
 marker_1.addListener('click', function() {
          infowindow.open(map, marker);
        });
  marker_2.addListener('click', function() {
                 infowindow.open(map, marker);
               });

}
</script>

<script>
      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 37.77, lng: -122.447}
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
        document.getElementById('mode').addEventListener('change', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var selectedMode = "DRIVING";
        directionsService.route({
          origin: {lat: 37.77, lng: -122.447},  // Haight.
          destination: {lat: 37.768, lng: -122.511},  // Ocean Beach.
          // Note that Javascript allows us to access the constant
          // using square brackets and a string value as its
          // "property."
          travelMode: google.maps.TravelMode[selectedMode]
        }, function(response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEhTGI-pOac9pWy1e_wHYXUFkmVS9GVME&callback=initMap">
  </script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=
  AIzaSyCEhTGI-pOac9pWy1e_wHYXUFkmVS9GVME
  &callback=myMap">
</script>
<br>
	<div class="officer" style='text-align: center;'>
		<button class="btn-large waves-light waves-effect" onclick="LOL()">SEND
		<i class="material-icons right">send</i></button>
	</div>

	</div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>
         require('./renderer.js')
      </script>
    </body>
  </html>
